.tours-container {
  width: 700px;
  padding: 25px;
  margin: 0 auto;
  text-align: center;
}

.tours-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-content: center;
}

@media (max-width: 585px) {
  .tours-grid {
    grid-template-columns: 1fr;
  }

  .tours-container {
    width: 250px;
  }
}

@media (min-width:586px) and (max-width: 768px) {
  .tours-container {
    width: 520px;
  }
}

.tour-card {
  border: 2px solid var(--color-border);
  border-radius: var(--border-radius);
  padding: 20px;
  background: var(--color-white);
  text-align: center;
  max-width: 300px;
}

.hotel-img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: var(--border-radius);
}

.title, p {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

.title-list {
  color: var(--color-black);
  font-size: 23px;
  font-weight: 700;
}

.price {
  font-size: 23px;
  font-weight: 700;
  color: var(--color-black);
}

.dates {
  >p:not(.price) {
    &::before {
      content: "Початок туру";
      display: block;
      font-size: 15px;
      color: var(--color-text);
      font-weight: 400;
      margin-bottom: 3px;
    }
  }
}

.btn-link {
  display: inline-block;
  margin-top: 15px;
  padding: 0;
  background-color: transparent;
  text-align: left;

  a {
    text-decoration: none;
    font-size: 16px;
    color: var(--color-but-hover);
    font-weight: 500;
    transition: var(--transition);

    &:hover {
      color: var(--color-button);
    }
  }
  
  &:hover {
      background-color: transparent;
  }
}