.tour-page {
  width: 300px;
  margin: 50px auto;
  padding: 25px;
  border-radius: 12px;
  background: var(--color-white);
  border: 2px solid var(--color-border);
  display: flex;
  flex-direction: column;
}

@media (max-width: 700px) {
    .tour-page {
        width: 200px;
    }
}

p,li {
  font-size: 16px;
}

p {
    &.discription {
        font-size: 20px;
        font-weight: 700;
        margin-top:0;
        margin-bottom: 0;
    }

    &.hotel-description {
        color: var(--color-text);
        margin: 10px 0;
        text-align: left;
        line-height: 1.5;
    }

    &.title, &.price {
        font-size: 24px;
        font-weight: 700 !important;
        margin: 0;
        text-align: left;
    }

    &.title, &.hotel-location {
        margin-bottom: 8px;
        margin-top: 0px;
        order: -1;
    }
}

.hotel-image {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: var(--border-radius);
  margin: 10px 0;
}

.desc {
  color: var(--color-text);
  margin: 15px 0;
  text-align: left;
}

ul.services-list {
    padding-left: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--color-border);

    li {
        text-transform: capitalize;
        margin-bottom: 6px;
    } 
}

.price-info {
  order: 1;
  font-weight: 600;

  >p {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 400;
  }
}

